* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color: #1da1f2;
    color: #ffffff;
    text-align: center;
}

.search-section {
    background-color: beige;
}

.list-group-item {
    line-height: 1;
    border: none;
}

.card-body {
    flex: auto;
}