* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 20px;
    justify-content: center;
}

:root {
    --purple: #51007a;
    --bisque: #ffe4c4;
    --black: #000000;
    --white: #ffffff;
    --grey: #cecece;
}

body {
    background-color: var(--grey);
    margin: 0;
    padding: 0;

}

header {
    background-color: var(--purple);
}

h1 {
    color: var(--bisque);
}

h2, h3, h4 {
    font-weight: 500;
    color: var(--black);
}

form {
    background-color: var(--bisque);
    padding: 10px;
    border: 2px solid var(--purple);
    margin-bottom: 20px;
}

#weather-container {
    margin: 30px auto;
}

.current-conditions-list {
    background-color: var(--bisque);
    padding: 10px;
    border: 2px solid var(--purple);
    margin-bottom: 20px;
}

.five-day-header {
    font-weight: bold;
}

.five-day-conditions-container {
    background-color: var(--bisque);
    padding: 10px;
    border: 2px solid var(--purple);
    margin-bottom: 20px;
}

#search-btn {
    background-color: #51007a;
    color: var(--white);
    border: var(--white);
}